.body-section > .left-column > .button > .sign-up-button > .btn {
    background-color: #4bce79;
    color: #000;
    font-size: 1.5em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 1px;
    border: 0px;
}
.body-section > .left-column > .button > .sign-up-button > .btn:hover {
    box-shadow: 2px 3px 9px 5px rgba(119,255,120,0.66);}

.body-section > .left-column > .button > .learn-more-btn > .btn {
    background-color: #000;
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.body-section > .left-column > .button > .learn-more-btn > .btn:hover {
    box-shadow: -3px 4px 11px 8px rgb(18, 18, 18);
}

.button {
    display: flex;
}

.body-section > .left-column > .button > .sign-up-button {
    margin: 0px 20px 0px 0px;
}